li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0px;;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  display: flex;
  background:snow;
  z-index: 100;
  box-shadow: 0 8px 6px -6px black;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;
}

.page-title {
  font-size: 40px;
  letter-spacing: 4px;
}

.home-container {
  background-color: lightskyblue;
  padding: 20px;
  height: calc(100vh - 100px);
}

.flights-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  margin: 6vh 0 6vh 0;
  padding-inline-start: 0;
}

.grid-title {
  grid-column: 2 / 12;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 4px 0px 10px;
}

.grid-headers {
  grid-column: 2 / 12;
  display: grid;
  justify-items: center;
  font-size: 18px;
  text-transform: uppercase;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px;
}

.flight {
  grid-column: 2 / 12;
  padding: 4px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.button-container {
  margin: 8px;
  display: flex;
}

.btn {
  padding: 7px 12px;
  border: 1px solid black;
  border-radius: 4px;
  background: snow;
  text-decoration: none;
  font: 100 14px Arial;
  text-align: center;
  color: black;
  margin: 4px;
}

.highlight {
  background: #3a85ed;
  background-image: linear-gradient(324.19deg,#0a62da 26.5%,#3a85ed 72.14%);
  color: white;
}

.btn:hover {
  background: lightgrey;
}

.btn.highlight:hover {
  background: lightskyblue;
}

.controls-container {
  display: flex;
  justify-content: center;
}