<!DOCTYPE html>
<html>
  <head>
    <title>AinsworthAirlines</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1 class="page-title">Welcome to Ainsworth Airlines!</h1>
    </div>
    <div class="home-container">
      <%= yield %>
    </div>
  </body>
</html>
